artifacts/
build/
cache/
coverage/
coverage.json
generated/
node_modules/

.*
!.env.example
!.cache-1.json
!.cache-5.json
!.cache-5-dev.json
!.cache-5-staging.json
!.cache-137.json
!.cache-137-preprod-failed.json
!.cache-137-preprod.json
!.cache-80001.json
!.cache-80001-dev.json
!.cache-80001-staging.json
!.cache-11155111.json
!.openzeppelin
